
a{

    text-decoration: underline;
   
}
.A{
    padding-top:50px;
    background-color: white;
}
button{
    background-color: green;
    color:white ;
    width:160px;
    height:40px
}

.seven{
    padding-left: 150px;
  }
  .eight{
    padding-right: 150px;
  }
  .nine{
      background-color:#2D3E50;
        padding-top: 70px;
      padding-bottom: 70px;
  }
  i{
    color: white;
    size: 30px;
    margin-right: 5px;
  }
  
  
  .eleven{
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: black;
    color:wheat;
  }